@model IEnumerable<Vieon.Models.BinhLuan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phim.TenPhim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.SDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phim.TenPhim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.SDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_BinhLuan }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_BinhLuan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_BinhLuan })
        </td>
    </tr>
}

</table>
