@model Vieon.Models.Phim

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .vertical-scroll-container {
        overflow-y: scroll; /* Cho phép thanh cuộn dọc */
        height: 300px; /* Điều chỉnh chiều cao của khung (thay đổi theo yêu cầu) */
        border: 1px solid #ccc; /* Viền khung cho khung có thanh cuộn dọc */
        padding: 10px; /* Khoảng cách bên trong khung */
    }

    .dau-sach-list {
        list-style: none;
        padding: 0;
    }

    .dau-sach-item {
        margin-bottom: 15px; /* Khoảng cách giữa các đầu sách */
        border: 1px solid #ccc; /* Viền cho mỗi đầu sách */
        padding: 10px; /* Khoảng cách bên trong mỗi đầu sách */
    }

    .review-container {
        max-width: 400px;
        margin-left: 80px;
        padding: 50px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .review-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .review-text {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .review-input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .review-button {
        background-color: #007BFF;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

        .review-button:hover {
            background-color: #0056b3;
        }
</style>
<div class="row">
    <div class="card-pro" style="margin-left:100px; margin-top:50px">
        <img src="~/Content/Images/@Model.HinhMinhHoa" width="250">
    </div>
    <div style="margin-left: 75px; margin-top: 50px">
        <h3 style="color: #007BFF "><strong>@Html.DisplayFor(model => model.TenPhim)</strong></h3>
        <div class="row">

            <div style="margin-left:15px">
                <br />
                <strong>Ngày ra mắt: @Html.DisplayFor(model => model.NamRaMat)</strong>
                <br />
                <br />
                <strong>Thời lượng: @Html.DisplayFor(model => model.ThoiLuong)</strong>
            </div>
            <div style="margin-left:75px">
                <br />
                <strong>Loại phim: @Html.DisplayFor(model => model.LoaiPhim)</strong>

            </div>
        </div>
        <br />
        <div>
            <strong>Giới thiệu phim:</strong>
        </div>
        <br />
        <div style="max-width: 650px; word-wrap: break-word;">
            @Html.DisplayFor(model => model.MoTa)
        </div>
    </div>
</div>
<br />
<h2>Danh sách thể loại của phim</h2>
<div class="vertical-scroll-container">
    <ul class="dau-sach-list">
        @foreach (var dauSach in Model.Phim_TheLoai)
        {
            <li class="dau-sach-item">
                <strong>Tên thể loại:</strong> @dauSach.TheLoai.TenTheLoai
            </li>
        }
    </ul>
</div>
<br />
<h2>Danh sách đạo diễn của phim</h2>
<div class="vertical-scroll-container">
    <ul class="dau-sach-list">
        @foreach (var dauSach in Model.Phim_DaoDien)
        {
            <li class="dau-sach-item">
                <strong>Họ tên:</strong> @dauSach.DaoDien.TenDaoDien
                <strong>Vai trò:</strong> @dauSach.VaiTro
            </li>
        }
    </ul>
</div>
<br />
<div class="form-group">
    @Html.ActionLink("Thêm tập phim", "Create", "TapPhims", new { id = Model.ID_Phim }, new { @class = "btn btn-primary" })
</div>
<h2>Danh sách tập của phim</h2>
<div class="vertical-scroll-container">
    <ul class="dau-sach-list">
        @foreach (var dauSach in Model.TapPhims)
        {
            <li class="dau-sach-item">
                <strong>Số tập:</strong> @dauSach.SoTap |
                <strong>Tên tập:</strong> @dauSach.TenTap |
                <strong>Mô tả:</strong> @dauSach.MoTa |
                <strong>URL:</strong> @dauSach.UrlPhim |
                <strong>Thời lượng:</strong> @dauSach.ThoiLuong |
                <strong>Ngày ra mắt:</strong> @dauSach.NgayRaMat
            </li>
        }
    </ul>
</div>
<br />
<div style="">
    <h2>Bình luận</h2>

    <div class="vertical-scroll-container">
        <ul class="dau-sach-list">
            @foreach (var bl in Model.BinhLuans)
            {
                <li class="dau-sach-item">
                    <strong>@bl.User.SDT</strong>
                    @bl.NgayDang
                    <br />
                    @bl.NoiDung
                </li>
            }
        </ul>
    </div>

</div>