@model Vieon.Models.User

@{
    ViewBag.Title = "Edit_Info";
    Layout = "~/Views/Shared/ChiTiet.cshtml";
}
<style>

    h4 {
        margin-left: 400px;
    }
    .info {
        position: relative;
        float: left;
        width: fit-content;
        margin-left: 300px;
    }

        .info table {
            text-align: left;
        }

            .info table tr td {
                padding: 7px;
                padding-right: 20px;
                text-align: left;
            }

        .info input {
            font-size: 15px;
            border: none;
            border-bottom: 1px solid black;
        }

    .btn_add {
        margin-top: 30px;
        font-size: 20px;
        padding: 10px 15px;
        border: none;
        background-color: #3399ff;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        margin-bottom: 50px;
    }

        .btn_add:hover {
            background-color: blue;
            color: #fff;
        }
    .btn_close {
        margin-top: 30px;
        font-size: 15px;
        padding: 10px 15px;
        border: none;
        background-color: #f00;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        margin-bottom: 50px;
        margin-left: 20px;
    }

        .btn_close:hover {
            background-color: #d00;
            color: #fff;
        }


</style>

<html>
<head>
    <title>Sửa thông tin sản phẩm</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/CSS/create.css" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <h4>Sửa thông tin người dùng</h4>
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_User)
        @Html.HiddenFor(model => model.MatKhau)
        @Html.HiddenFor(model => model.RoleUser)
        <div class="info">
            <table>
                <tr>
                    <td>Tên người dùng: </td>
                    <td style="width:200px">
                        @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td>Số điện thoại: </td>
                    <td style="width:500px">
                        @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td style="width:500px">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
            <div>
                <input type="submit" value="Lưu" class="btn btn_add" />
                <a href="@Url.Action("Details", "UserKhachs", new {id = Model.ID_User})" class="btn btn_close"> Hủy</a>
            </div>
        </div>
    </div>
    }

</body>
</html>












