
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_LayoutDKDN.cshtml";
}

<style>
    .registration-form {
        margin-top: 10%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: ghostwhite;
        width: 700px;
    }
</style>
<div class="offset-md-1 col-md-10 registration-form">
    <h2 style="text-align: center">ĐĂNG KÝ</h2>
    <br />
    <div class="row">
        <div class="offset-md-1 col-md-10">
            @using (Html.BeginForm("DangKy", "NguoiDung"))
            {
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label for="name">Họ tên:</label>
                    @Html.TextBox("HoTen", null, new
                    {
                        @class = "form-control",
                        @id =
                   "name",
                        required = "required"
                    })
                </div>
                <div class="form-group">
                    <label for="dangnhap">Số điện thoại:</label>
                    @Html.TextBox("SDT", null, new
                    {
                        @class = "form-control",
                        @id =
                   "dangnhap",
                        required = "required"
                    })
                </div>
                <div class="form-group">
                    <label for="matkhau">Mat khau:</label>
                    @Html.Password("Matkhau", null, new
                    {
                        @class = "form-control",
                        @id =
                   "matkhau",
                        required = "required"
                    })
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    @Html.TextBox("Email", null, new
                    {
                        @class = "form-control",
                        @id =
                   "email",
                        type = "email",
                        required = "required"
                    })
                </div>
                <button type="submit" class="btn btn-primary">ĐĂNG KÝ</button>
            }
        </div>
    </div>
</div>

