@model Vieon.Models.Phim_TheLoai

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Phim_TheLoai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Phim.TenPhim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phim.TenPhim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheLoai.TenTheLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheLoai.TenTheLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Phim_TheLoai }) |
    @Html.ActionLink("Back to List", "Index")
</p>
